

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Integrates</h4>
    <h5>Base de Datos</h5>
    <p>Luis Zapata Teran</p>
    <p>Enrique Villanueva del Fierro</p>
    <p>Joaquin Alan Valdez Lom</p>
    
    <h5>Inteligencia de Negocios</h5>
    <p>Rafael Guzman</p>
    <p>Joaquin Alan Valdez Lom</p>
  </div>

  <div class="col-lg-6">
    
  </div>
</div>